---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import FeatureSplit from '../components/FeatureSplit.astro';
import Experiences from '../components/Experiences.astro';
---

<Layout title="Reserve Papagayo | A Private Peninsula Shaped by Nature">
  <Header />
  <main>
    <Hero />
    <FeatureSplit />
    <Experiences />
  </main>
</Layout>
